.list {
  margin: 5rem 7rem;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  display: flex;
  background: gray;
  flex-direction: column;
  border: 4px solid purple;
}

.item {
  padding: 1rem 0rem;
  text-align: center;
  font-size: 2rem;
  color: purple;
  width: 80%;
  background: mintcream;
  border: 3px solid rebeccapurple;
}