.container {
        padding: 5rem;
        display: flex;
        /* background-color: blueviolet; */
        /* margin: 8rem; */
        justify-content: space-around;
}

.imgdiv {
        /* height: 20rem;
        width: 20rem;
        border: 1px solid red; */
}

.imgdiv img {
        height: 20rem;
}

.description {
        padding: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
}

.titleDiv p {
        font-size: 2em;
}

.counterDiv {
        background-color: white;
        border: 1px solid black;
}

.counterDiv button {
        font-size: 2rem;
        padding: 1rem;
        border: none;

}

.counter {
        font-size: 2rem;
        padding: 1rem;
}

.addressDiv {
        padding: 1rem;
        justify-content: space-around;

}